body {
  background: url(download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
}
h1,
h2 {
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
}
.menu {
  background-color: burlywood;
  width: 500px;
  padding: 20px;
  margin-left: 300px;
}
.established {
  text-align: center;
}
.flavour {
  text-align: left;
  width: 90%;
  font: 16px;
}
.price {
  text-align: right;
  font: 16px;
}
.item p {
  display: inline-block;
}
.coffee-cup {
  align-items: center;
}
hr {
  height: 3px;
  background-color: brown;
  border-bottom: brown;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  text-align: center;
  font-size: 13px;
}
a {
  color: black;
}
a:hover {
  color: brown;
}
a:visited {
  color: blue;
}
